<div class="container">
  <div class="starter-template">
    <div class="container text-center">
      <h1>Have a question?</h1>

      <p class="lead">Holler at me <a href="mailto:brotoriousdev@gmail.com?subject=Whaddup">here.</a></p>
    </div>
  </div>
</div>
