<div class="jumbotron">
  <h1>Today's Weather</h1>

  <p class="lead">Don't play around with your phone's weather app ya turkey, get the good stuff directly from your inbox!</p>

  <%= link_to "Sign Me Up!", '#', class: "btn btn-lg btn-success" %>
</div>
