<div class="jumbotron center">
  <div class="container text-center">
    <h1>Today's Weather</h1>

    <p class="lead">Don't be a turkey. Get the forecast in your inbox daily.</p>

    <%= link_to "Sign Me Up!", signup_path, :class => "btn btn-lg btn-success" %>
  </div>
</div>
